# Titel
### Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from itertools import permutations
from collections import deque
from typing import Union

### Functions

In [2]:
######## Conversions ###################################

def toStr(vec) -> str:
    return ''.join(map(str, vec))

def toInt(vec) -> int:
    return int("".join(str(i) for i in vec), 2)

def toBinVec(x, l=0) -> list:                # l=0 -> Dynamische L채nge, l=10 -> Fixe L채nge
    result = [int(i) for i in bin(x)[2:]]
    missing_zeros = l-len(result)
    if (missing_zeros > 0):
        for i in range(missing_zeros):
            result.insert(0, 0)
    return result

######### Opertations #####################################

def hammingweight(vec) -> int:
    return np.count_nonzero(vec == 1)

def combinations(iterable, r):
    pool = tuple(iterable)
    n = len(pool)
    for indices in permutations(range(n), r):
        if sorted(indices) == list(indices):
            yield tuple(pool[i] for i in indices)
            
def binary_permutations(lst: []) -> [[]]:
    result = []
    for comb in combinations(range(len(lst)), lst.count(1)):
        permutation = [0] * len(lst)
        for i in comb:
            permutation[i] = 1
        result.append(permutation)
    return result

def rotate_left_vec(vec) -> list:
    shifted = vec.copy()
    temp = deque(shifted)
    temp.rotate(-1)
    return list(temp)

########## Search Functions ################################
def find_extrema(vec) -> Union[int,int,int,list,list]:
    L = len(vec)
    vecToInt = toInt(vec)
    min = vecToInt
    max = 0
    odd_max = 0           ####????
    vec_min = vec
    vec_max = vec
    shifted = vec.copy()
    for i in range(L):
        if vecToInt < min:
            min = vecToInt
            vec_min = shifted
        if vecToInt > max:
            max = vecToInt
            vec_max = shifted
        temp = deque(shifted)
        temp.rotate(-1)
        shifted = list(temp)
        vecToInt = toInt(shifted)
    return min, max, odd_max, vec_min, vec_max

def find_rotational_distance(vec1, vec2) -> Union[int,int]:
    L = len(vec1)
    vec1ToInt = toInt(vec1)
    vec2ToInt = toInt(vec2)
    left_shifts = 0
    shifted = vec1.copy()
    for i in range(L):
        if toInt(shifted) == vec2ToInt:
            left_shifts = i
            break
        temp = deque(shifted)
        temp.rotate(-1)
        shifted = list(temp)
    return left_shifts, L-left_shifts   #### Links ; L채nge-Links = Rechts

########## Calculations ######################################
def calculate_c(n: int, U: int) -> int:
    return 2**n-3**U

def calculate_z(parity_vector: []) -> int:
    indices = []
    for i, entry in enumerate(parity_vector, start=0):
        if entry == 1:
            indices.append(i)
    result = 0
    U = len(indices)
    for i, entry in enumerate(indices, start=0):
        result = result + 3**(U-(i+1)) * 2**(entry)
    return result

def z_inverse(z, l) -> int:
    i = 1
    while True:
        vec = toBinVec(i, l)
        if calculate_z(vec) == z and len(vec) == l:
            return i
        i += 1
        
def getCycle(start):
    cycle = np.array(calculate_z(start))
    pos = start
    for i in range(8):
        pos = rotate_left_vec(pos)
        cycle = np.hstack([cycle, calculate_z(pos)])
    return cycle

### Prepare Data

In [3]:
def setInput(l) -> list:                
    delay = np.zeros((l,), dtype=int)
    for i in range(2**l-1):
        delay = np.vstack([delay, toBinVec(i+1, l)])
    INPUT = delay
    return INPUT

def setData(B_vec) -> list:
    EXP = find_extrema(B_vec)                     # Extrema
    l = len(B_vec)                                # L채nge
    q = find_rotational_distance(EXP[3], EXP[4])  # Rotating distance - Both ?
    r = q[0]                                      # Rotating distance - Leftrotation ?
    U = hammingweight(B_vec)                      # Hamming weight
#     if U == 0:
#         DarrellCox = 0
#     else:
#         DarrellCox = (l*r)/U + 1                      # Darrell Cox        
    div_modular = (U*r+1)/l                       # Division   ?
    div_integer = EXP[1] - EXP[0]                 # Differenz Maxima
    cycle = getCycle(B_vec)                       # z(B) Cycle
    c = calculate_c(l, U)                         # "c"
    
    ####### min ### max ### B_min # B_max # l  r  U # (U*r+1)/l # B_max-B_min # cycle # c
    DATA = [[EXP[0], EXP[1], EXP[3], EXP[4], l, r, U, div_modular, div_integer, cycle, c]]
    return DATA

def getData(l) -> list:
    B = setInput(l)
    INPUT = B[0]      ## Zeilen auslesen
    DATA = setData(INPUT)
    for i in range(2**l-1):
        remain = B[i+1]      ## Zeilen auslesen
        DATA = np.vstack([DATA, setData(remain)])
        INPUT = np.vstack([INPUT, remain])
    return DATA, INPUT

### MAIN

In [4]:
l = 8    ### !16 bit -> 10[min] Runtime
[DATA, INPUT] = getData(l)
print(INPUT[0:10])
print('...')

[[0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 1]
 [0 0 0 0 0 0 1 0]
 [0 0 0 0 0 0 1 1]
 [0 0 0 0 0 1 0 0]
 [0 0 0 0 0 1 0 1]
 [0 0 0 0 0 1 1 0]
 [0 0 0 0 0 1 1 1]
 [0 0 0 0 1 0 0 0]
 [0 0 0 0 1 0 0 1]]
...

C:\Users\adrian.AUENLAND\Anaconda3\lib\site-packages\numpy\core\_asarray.py:136: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray
  return array(a, dtype, copy=False, order=order, subok=True)

### Summary

In [17]:
df1 = pd.DataFrame(DATA, columns = ['min', 'max', 'B_min', 'B_max', 'l', 'r', 'U', 'Diff', 'B_max-B_min', 'cycle', 'c'])
pd.set_option('display.expand_frame_repr', True)

df1_filterd = df1[(df1.Diff == 1) | (df1.Diff == 2) | (df1.Diff == 3) | (df1.Diff == 4)]
df1_sorted = df1_filterd.sort_values(by=['Diff', 'r','B_max-B_min'])

# df1[0:65536]
df1_sorted

,min,max,B_min,B_max,l,r,U,Diff,B_max-B_min,cycle,c
127,127,254,"[0, 1, 1, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1, 1, 1, 0]",8,1,7,1,127,"[4118, 2059, 2123, 2219, 2363, 2579, 2903, 338...",-1931
191,127,254,"[0, 1, 1, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1, 1, 1, 0]",8,1,7,1,127,"[3389, 4118, 2059, 2123, 2219, 2363, 2579, 290...",-1931
223,127,254,"[0, 1, 1, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1, 1, 1, 0]",8,1,7,1,127,"[2903, 3389, 4118, 2059, 2123, 2219, 2363, 257...",-1931
239,127,254,"[0, 1, 1, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1, 1, 1, 0]",8,1,7,1,127,"[2579, 2903, 3389, 4118, 2059, 2123, 2219, 236...",-1931
247,127,254,"[0, 1, 1, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1, 1, 1, 0]",8,1,7,1,127,"[2363, 2579, 2903, 3389, 4118, 2059, 2123, 221...",-1931
251,127,254,"[0, 1, 1, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1, 1, 1, 0]",8,1,7,1,127,"[2219, 2363, 2579, 2903, 3389, 4118, 2059, 212...",-1931
253,127,254,"[0, 1, 1, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1, 1, 1, 0]",8,1,7,1,127,"[2123, 2219, 2363, 2579, 2903, 3389, 4118, 205...",-1931
254,127,254,"[0, 1, 1, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1, 1, 1, 0]",8,1,7,1,127,"[2059, 2123, 2219, 2363, 2579, 2903, 3389, 411...",-1931
1,1,128,"[0, 0, 0, 0, 0, 0, 0, 1]","[1, 0, 0, 0, 0, 0, 0, 0]",8,7,1,1,127,"[128, 64, 32, 16, 8, 4, 2, 1, 128]",253
2,1,128,"[0, 0, 0, 0, 0, 0, 0, 1]","[1, 0, 0, 0, 0, 0, 0, 0]",8,7,1,1,127,"[64, 32, 16, 8, 4, 2, 1, 128, 64]",253
4,1,128,"[0, 0, 0, 0, 0, 0, 0, 1]","[1, 0, 0, 0, 0, 0, 0, 0]",8,7,1,1,127,"[32, 16, 8, 4, 2, 1, 128, 64, 32]",253
8,1,128,"[0, 0, 0, 0, 0, 0, 0, 1]","[1, 0, 0, 0, 0, 0, 0, 0]",8,7,1,1,127,"[16, 8, 4, 2, 1, 128, 64, 32, 16]",253
16,1,128,"[0, 0, 0, 0, 0, 0, 0, 1]","[1, 0, 0, 0, 0, 0, 0, 0]",8,7,1,1,127,"[8, 4, 2, 1, 128, 64, 32, 16, 8]",253
32,1,128,"[0, 0, 0, 0, 0, 0, 0, 1]","[1, 0, 0, 0, 0, 0, 0, 0]",8,7,1,1,127,"[4, 2, 1, 128, 64, 32, 16, 8, 4]",253
64,1,128,"[0, 0, 0, 0, 0, 0, 0, 1]","[1, 0, 0, 0, 0, 0, 0, 0]",8,7,1,1,127,"[2, 1, 128, 64, 32, 16, 8, 4, 2]",253
128,1,128,"[0, 0, 0, 0, 0, 0, 0, 1]","[1, 0, 0, 0, 0, 0, 0, 0]",8,7,1,1,127,"[1, 128, 64, 32, 16, 8, 4, 2, 1]",253
91,91,218,"[0, 1, 0, 1, 1, 0, 1, 1]","[1, 1, 0, 1, 1, 0, 1, 0]",8,3,5,2,127,"[842, 421, 638, 319, 485, 734, 367, 557, 842]",13
107,91,218,"[0, 1, 0, 1, 1, 0, 1, 1]","[1, 1, 0, 1, 1, 0, 1, 0]",8,3,5,2,127,"[734, 367, 557, 842, 421, 638, 319, 485, 734]",13
109,91,218,"[0, 1, 0, 1, 1, 0, 1, 1]","[1, 1, 0, 1, 1, 0, 1, 0]",8,3,5,2,127,"[638, 319, 485, 734, 367, 557, 842, 421, 638]",13
173,91,218,"[0, 1, 0, 1, 1, 0, 1, 1]","[1, 1, 0, 1, 1, 0, 1, 0]",8,3,5,2,127,"[557, 842, 421, 638, 319, 485, 734, 367, 557]",13
181,91,218,"[0, 1, 0, 1, 1, 0, 1, 1]","[1, 1, 0, 1, 1, 0, 1, 0]",8,3,5,2,127,"[485, 734, 367, 557, 842, 421, 638, 319, 485]",13
182,91,218,"[0, 1, 0, 1, 1, 0, 1, 1]","[1, 1, 0, 1, 1, 0, 1, 0]",8,3,5,2,127,"[421, 638, 319, 485, 734, 367, 557, 842, 421]",13
214,91,218,"[0, 1, 0, 1, 1, 0, 1, 1]","[1, 1, 0, 1, 1, 0, 1, 0]",8,3,5,2,127,"[367, 557, 842, 421, 638, 319, 485, 734, 367]",13
218,91,218,"[0, 1, 0, 1, 1, 0, 1, 1]","[1, 1, 0, 1, 1, 0, 1, 0]",8,3,5,2,127,"[319, 485, 734, 367, 557, 842, 421, 638, 319]",13
31,31,248,"[0, 0, 0, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1, 0, 0, 0]",8,3,5,2,217,"[1688, 844, 422, 211, 323, 491, 743, 1121, 1688]",13
62,31,248,"[0, 0, 0, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1, 0, 0, 0]",8,3,5,2,217,"[844, 422, 211, 323, 491, 743, 1121, 1688, 844]",13
124,31,248,"[0, 0, 0, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1, 0, 0, 0]",8,3,5,2,217,"[422, 211, 323, 491, 743, 1121, 1688, 844, 422]",13
143,31,248,"[0, 0, 0, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1, 0, 0, 0]",8,3,5,2,217,"[1121, 1688, 844, 422, 211, 323, 491, 743, 1121]",13
199,31,248,"[0, 0, 0, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1, 0, 0, 0]",8,3,5,2,217,"[743, 1121, 1688, 844, 422, 211, 323, 491, 743]",13
227,31,248,"[0, 0, 0, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1, 0, 0, 0]",8,3,5,2,217,"[491, 743, 1121, 1688, 844, 422, 211, 323, 491]",13
241,31,248,"[0, 0, 0, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1, 0, 0, 0]",8,3,5,2,217,"[323, 491, 743, 1121, 1688, 844, 422, 211, 323]",13
248,31,248,"[0, 0, 0, 1, 1, 1, 1, 1]","[1, 1, 1, 1, 1, 0, 0, 0]",8,3,5,2,217,"[211, 323, 491, 743, 1121, 1688, 844, 422, 211]",13
37,37,164,"[0, 0, 1, 0, 0, 1, 0, 1]","[1, 0, 1, 0, 0, 1, 0, 0]",8,5,3,2,127,"[260, 130, 65, 212, 106, 53, 194, 97, 260]",229
41,37,164,"[0, 0, 1, 0, 0, 1, 0, 1]","[1, 0, 1, 0, 0, 1, 0, 0]",8,5,3,2,127,"[212, 106, 53, 194, 97, 260, 130, 65, 212]",229
73,37,164,"[0, 0, 1, 0, 0, 1, 0, 1]","[1, 0, 1, 0, 0, 1, 0, 0]",8,5,3,2,127,"[194, 97, 260, 130, 65, 212, 106, 53, 194]",229
74,37,164,"[0, 0, 1, 0, 0, 1, 0, 1]","[1, 0, 1, 0, 0, 1, 0, 0]",8,5,3,2,127,"[130, 65, 212, 106, 53, 194, 97, 260, 130]",229
82,37,164,"[0, 0, 1, 0, 0, 1, 0, 1]","[1, 0, 1, 0, 0, 1, 0, 0]",8,5,3,2,127,"[106, 53, 194, 97, 260, 130, 65, 212, 106]",229
146,37,164,"[0, 0, 1, 0, 0, 1, 0, 1]","[1, 0, 1, 0, 0, 1, 0, 0]",8,5,3,2,127,"[97, 260, 130, 65, 212, 106, 53, 194, 97]",229
148,37,164,"[0, 0, 1, 0, 0, 1, 0, 1]","[1, 0, 1, 0, 0, 1, 0, 0]",8,5,3,2,127,"[65, 212, 106, 53, 194, 97, 260, 130, 65]",229
164,37,164,"[0, 0, 1, 0, 0, 1, 0, 1]","[1, 0, 1, 0, 0, 1, 0, 0]",8,5,3,2,127,"[53, 194, 97, 260, 130, 65, 212, 106, 53]",229
7,7,224,"[0, 0, 0, 0, 0, 1, 1, 1]","[1, 1, 1, 0, 0, 0, 0, 0]",8,5,3,2,217,"[608, 304, 152, 76, 38, 19, 143, 329, 608]",229
14,7,224,"[0, 0, 0, 0, 0, 1, 1, 1]","[1, 1, 1, 0, 0, 0, 0, 0]",8,5,3,2,217,"[304, 152, 76, 38, 19, 143, 329, 608, 304]",229
28,7,224,"[0, 0, 0, 0, 0, 1, 1, 1]","[1, 1, 1, 0, 0, 0, 0, 0]",8,5,3,2,217,"[152, 76, 38, 19, 143, 329, 608, 304, 152]",229
56,7,224,"[0, 0, 0, 0, 0, 1, 1, 1]","[1, 1, 1, 0, 0, 0, 0, 0]",8,5,3,2,217,"[76, 38, 19, 143, 329, 608, 304, 152, 76]",229
112,7,224,"[0, 0, 0, 0, 0, 1, 1, 1]","[1, 1, 1, 0, 0, 0, 0, 0]",8,5,3,2,217,"[38, 19, 143, 329, 608, 304, 152, 76, 38]",229
131,7,224,"[0, 0, 0, 0, 0, 1, 1, 1]","[1, 1, 1, 0, 0, 0, 0, 0]",8,5,3,2,217,"[329, 608, 304, 152, 76, 38, 19, 143, 329]",229
193,7,224,"[0, 0, 0, 0, 0, 1, 1, 1]","[1, 1, 1, 0, 0, 0, 0, 0]",8,5,3,2,217,"[143, 329, 608, 304, 152, 76, 38, 19, 143]",229
224,7,224,"[0, 0, 0, 0, 0, 1, 1, 1]","[1, 1, 1, 0, 0, 0, 0, 0]",8,5,3,2,217,"[19, 143, 329, 608, 304, 152, 76, 38, 19]",229

In [16]:
df2 = df1.copy()
df2_drop = df2.drop(columns=['B_min', 'B_max', 'l', 'r', 'U', 'Diff', 'B_max-B_min', 'cycle', 'c'])
df2_diff = df2_drop.diff()
df2_renamed = df2_diff.rename(columns={'min': 'Delta_min', 'max': 'Delta_max'})




# df2_diffquot = df2_renamed['Differentquotient'] = df2_renamed['Delta_min'] / df2_renamed['Delta_max']
# df2_diff['e'] = pd.Series(4, index=df1.index)
# df2_diff[0:20]

result = pd.concat([df1, df2_renamed], axis=1)
result[0:25]

,min,max,B_min,B_max,l,r,U,Diff,B_max-B_min,cycle,c,Delta_min,Delta_max
0,0,0,"[0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0]",8,0,0,0.125,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0]",255,NaN,NaN
1,1,128,"[0, 0, 0, 0, 0, 0, 0, 1]","[1, 0, 0, 0, 0, 0, 0, 0]",8,7,1,1,127,"[128, 64, 32, 16, 8, 4, 2, 1, 128]",253,1,128
2,1,128,"[0, 0, 0, 0, 0, 0, 0, 1]","[1, 0, 0, 0, 0, 0, 0, 0]",8,7,1,1,127,"[64, 32, 16, 8, 4, 2, 1, 128, 64]",253,0,0
3,3,192,"[0, 0, 0, 0, 0, 0, 1, 1]","[1, 1, 0, 0, 0, 0, 0, 0]",8,6,2,1.625,189,"[320, 160, 80, 40, 20, 10, 5, 131, 320]",247,2,64
4,1,128,"[0, 0, 0, 0, 0, 0, 0, 1]","[1, 0, 0, 0, 0, 0, 0, 0]",8,7,1,1,127,"[32, 16, 8, 4, 2, 1, 128, 64, 32]",253,-2,-64
5,5,160,"[0, 0, 0, 0, 0, 1, 0, 1]","[1, 0, 1, 0, 0, 0, 0, 0]",8,5,2,1.375,155,"[224, 112, 56, 28, 14, 7, 134, 67, 224]",247,4,32
6,3,192,"[0, 0, 0, 0, 0, 0, 1, 1]","[1, 1, 0, 0, 0, 0, 0, 0]",8,6,2,1.625,189,"[160, 80, 40, 20, 10, 5, 131, 320, 160]",247,-2,32
7,7,224,"[0, 0, 0, 0, 0, 1, 1, 1]","[1, 1, 1, 0, 0, 0, 0, 0]",8,5,3,2,217,"[608, 304, 152, 76, 38, 19, 143, 329, 608]",229,4,32
8,1,128,"[0, 0, 0, 0, 0, 0, 0, 1]","[1, 0, 0, 0, 0, 0, 0, 0]",8,7,1,1,127,"[16, 8, 4, 2, 1, 128, 64, 32, 16]",253,-6,-96
9,9,144,"[0, 0, 0, 0, 1, 0, 0, 1]","[1, 0, 0, 1, 0, 0, 0, 0]",8,4,2,1.125,135,"[176, 88, 44, 22, 11, 140, 70, 35, 176]",247,8,16
10,5,160,"[0, 0, 0, 0, 0, 1, 0, 1]","[1, 0, 1, 0, 0, 0, 0, 0]",8,5,2,1.375,155,"[112, 56, 28, 14, 7, 134, 67, 224, 112]",247,-4,16
11,11,194,"[0, 0, 0, 0, 1, 0, 1, 1]","[1, 1, 0, 0, 0, 0, 1, 0]",8,6,3,2.375,183,"[464, 232, 116, 58, 29, 158, 79, 233, 464]",229,6,34
12,3,192,"[0, 0, 0, 0, 0, 0, 1, 1]","[1, 1, 0, 0, 0, 0, 0, 0]",8,6,2,1.625,189,"[80, 40, 20, 10, 5, 131, 320, 160, 80]",247,-8,-2
13,13,208,"[0, 0, 0, 0, 1, 1, 0, 1]","[1, 1, 0, 1, 0, 0, 0, 0]",8,4,3,1.625,195,"[368, 184, 92, 46, 23, 149, 338, 169, 368]",229,10,16
14,7,224,"[0, 0, 0, 0, 0, 1, 1, 1]","[1, 1, 1, 0, 0, 0, 0, 0]",8,5,3,2,217,"[304, 152, 76, 38, 19, 143, 329, 608, 304]",229,-6,16
15,15,240,"[0, 0, 0, 0, 1, 1, 1, 1]","[1, 1, 1, 1, 0, 0, 0, 0]",8,4,4,2.125,225,"[1040, 520, 260, 130, 65, 185, 365, 635, 1040]",175,8,16
16,1,128,"[0, 0, 0, 0, 0, 0, 0, 1]","[1, 0, 0, 0, 0, 0, 0, 0]",8,7,1,1,127,"[8, 4, 2, 1, 128, 64, 32, 16, 8]",253,-14,-112
17,17,136,"[0, 0, 0, 1, 0, 0, 0, 1]","[1, 0, 0, 0, 1, 0, 0, 0]",8,3,2,0.875,119,"[152, 76, 38, 19, 152, 76, 38, 19, 152]",247,16,8
18,9,144,"[0, 0, 0, 0, 1, 0, 0, 1]","[1, 0, 0, 1, 0, 0, 0, 0]",8,4,2,1.125,135,"[88, 44, 22, 11, 140, 70, 35, 176, 88]",247,-8,8
19,19,196,"[0, 0, 0, 1, 0, 0, 1, 1]","[1, 1, 0, 0, 0, 1, 0, 0]",8,6,3,2.375,177,"[392, 196, 98, 49, 188, 94, 47, 185, 392]",229,10,52
20,5,160,"[0, 0, 0, 0, 0, 1, 0, 1]","[1, 0, 1, 0, 0, 0, 0, 0]",8,5,2,1.375,155,"[56, 28, 14, 7, 134, 67, 224, 112, 56]",247,-14,-36
21,21,168,"[0, 0, 0, 1, 0, 1, 0, 1]","[1, 0, 1, 0, 1, 0, 0, 0]",8,3,3,1.25,147,"[296, 148, 74, 37, 170, 85, 242, 121, 296]",229,16,8
22,11,194,"[0, 0, 0, 0, 1, 0, 1, 1]","[1, 1, 0, 0, 0, 0, 1, 0]",8,6,3,2.375,183,"[232, 116, 58, 29, 158, 79, 233, 464, 232]",229,-10,26
23,23,226,"[0, 0, 0, 1, 0, 1, 1, 1]","[1, 1, 1, 0, 0, 0, 1, 0]",8,5,4,2.625,203,"[824, 412, 206, 103, 242, 121, 269, 491, 824]",175,12,32
24,3,192,"[0, 0, 0, 0, 0, 0, 1, 1]","[1, 1, 0, 0, 0, 0, 0, 0]",8,6,2,1.625,189,"[40, 20, 10, 5, 131, 320, 160, 80, 40]",247,-20,-34

#### Export Data

In [36]:
# df1_sorted.to_excel("Output_Data_8_bit.xlsx",
#              sheet_name='Filterd_Diff_and_Sorted') 
    
with pd.ExcelWriter("Output_Data_8_bit.xlsx", engine="openpyxl", mode="a") as writer:
    df1.to_excel(writer, sheet_name="Sheet_name_2", startrow=1, startcol=1)

### Plotting -> Tableu

In [26]:
x = []
y = []
y_offset = []
#color_scheme=[]                     
colors = []
i = 0
for index, row in df_plot.iterrows():  ## df_plot -> Pandas
    x.append(i)
    yo = row['min']
    y_offset.append(yo)
    y.append(row['max']-yo)
    colors.append(color_scheme[row['r']-1])
    i += 1
    
plt.bar(x, y, bottom=y_offset, color=colors)
plt.show()

plt.scatter(df_plot["diff_min"].tolist(), df_plot["diff_max"].tolist(), s=1)
plt.show()