In [11]:
import math
import pandas as pd
from collections import deque
from itertools import combinations

def binary_permutations(lst: []) -> [[]]:
    result = []
    for comb in combinations(range(len(lst)), lst.count(1)):
        permutation = [0] * len(lst)
        for i in comb:
            permutation[i] = 1
        result.append(permutation)
    return result

def calculate_z(parity_vector: []) -> int:
    indices = []
    for i, entry in enumerate(parity_vector, start=0):
        if entry == 1:
            indices.append(i)
    
    result = 0
    U = len(indices)
    for i, entry in enumerate(indices, start=0):
        result = result + 3**(U-(i+1)) * 2**(entry)
    return result

def generate_df(n: int, U: int) -> pd.DataFrame:
    df = pd.DataFrame(columns = ['parity_vector', 'shifted orbits', 'z vals', 'min_z'])
    p_v = [0] * n
    for i in range(U):
        p_v[i] = 1
    permutations = binary_permutations(p_v)
    for i in range(len(permutations)):
        vec = permutations[i]
        z_vals = []
        shifted_vecs = []
        shifted = vec.copy()

        for j in range(len(shifted)):
            shifted_vecs.append(''.join(map(str, shifted)))
            z_vals.append(calculate_z(shifted))
            temp = deque(shifted)
            temp.rotate(-1)
            shifted = list(temp)
        df.loc[i] = [''.join(map(str, vec)), shifted_vecs, z_vals, min(z_vals)]
    return df

def calculate_N(M:int, n:int, U:int) -> int:
    r = math.gcd(n, U)
    sum = 0
    for i in range(r):
        sum += 2**(i*n/r)*3**(U-1-i*U/r)
    return 2*M - int(sum)

n=14
U=8
df = generate_df(n, U)
M = df['min_z'].max()
N = calculate_N(M, n, U)
c = 2**n-3**U
print("M({0},{1})={2}".format(n, U, M))
print("N({0},{1})={2}".format(n, U, N))
print("c={0}".format(c))

df.head(10)

M(14,8)=21109
N(14,8)=36575
c=9823

,parity_vector,shifted orbits,z vals,min_z
0,11111111000000,"[11111111000000, 11111110000001, 1111110000001...","[6305, 14369, 26465, 44609, 71825, 112649, 173...",6305
1,11111110100000,"[11111110100000, 11111101000001, 1111101000001...","[6433, 14561, 26753, 45041, 72473, 113621, 175...",6433
2,11111110010000,"[11111110010000, 11111100100001, 1111100100001...","[6689, 14945, 27329, 45905, 73769, 115565, 178...",6689
3,11111110001000,"[11111110001000, 11111100010001, 1111100010001...","[7201, 15713, 28481, 47633, 76361, 119453, 184...",7201
4,11111110000100,"[11111110000100, 11111100001001, 1111100001001...","[8225, 17249, 30785, 51089, 81545, 127229, 195...",8225
5,11111110000010,"[11111110000010, 11111100000101, 1111100000101...","[10273, 20321, 35393, 58001, 91913, 142781, 21...",10273
6,11111110000001,"[11111110000001, 11111100000011, 1111100000011...","[14369, 26465, 44609, 71825, 112649, 173885, 2...",6305
7,11111101100000,"[11111101100000, 11111011000001, 1111011000001...","[6625, 14849, 27185, 45689, 73445, 115079, 177...",6625
8,11111101010000,"[11111101010000, 11111010100001, 1111010100001...","[6881, 15233, 27761, 46553, 74741, 117023, 180...",6881
9,11111101001000,"[11111101001000, 11111010010001, 1111010010001...","[7393, 16001, 28913, 48281, 77333, 120911, 186...",7393