In [23]:
import math
import pandas as pd
from collections import deque
from itertools import combinations

def binary_permutations(lst: []) -> [[]]:
    result = []
    for comb in combinations(range(len(lst)), lst.count(1)):
        permutation = [0] * len(lst)
        for i in comb:
            permutation[i] = 1
        result.append(permutation)
    return result

def calculate_z(parity_vector: []) -> int:
    indices = []
    for i, entry in enumerate(parity_vector, start=0):
        if entry == 1:
            indices.append(i)
    
    result = 0
    U = len(indices)
    for i, entry in enumerate(indices, start=0):
        result = result + 3**(U-(i+1)) * 2**(entry)
    return result

def generate_df(n: int, U: int) -> pd.DataFrame:
    df = pd.DataFrame(columns = ['parity_vector', 'shifted orbits', 'z vals', 'min_z', 'max_z'])
    p_v = [0] * n
    for i in range(U):
        p_v[i] = 1
    permutations = binary_permutations(p_v)
    for i in range(len(permutations)):
        vec = permutations[i]
        phi_vals = []
        shifted_vecs = []
        shifted = vec.copy()

        for j in range(len(shifted)):
            shifted_vecs.append(''.join(map(str, shifted)))
            phi_vals.append(calculate_z(shifted))
            temp = deque(shifted)
            temp.rotate(-1)
            shifted = list(temp)
        df.loc[i] = [''.join(map(str, vec)), shifted_vecs, phi_vals, min(phi_vals), max(phi_vals)]
    return df

def calculate_N(M:int, n:int, U:int) -> int:
    r = math.gcd(n, U)
    sum = 0
    for i in range(r):
        sum += 2**(i*n/r)*3**(U-1-i*n/r)
    return 2*M - sum

n=8
U=3
df = generate_df(n, U)
M = df['min_z'].max()
N = calculate_N(M, n, U)
print("M({0},{1})={2}".format(n, U, M))
print("N({0},{1})={2}".format(n, U, N))

df.head(10)

M(8,3)=53
N(8,3)=97.0

,parity_vector,shifted orbits,z vals,min_z,max_z
0,11100000,"[11100000, 11000001, 10000011, 00000111, 00001...","[19, 143, 329, 608, 304, 152, 76, 38]",19,608
1,11010000,"[11010000, 10100001, 01000011, 10000110, 00001...","[23, 149, 338, 169, 368, 184, 92, 46]",23,368
2,11001000,"[11001000, 10010001, 00100011, 01000110, 10001...","[31, 161, 356, 178, 89, 248, 124, 62]",31,356
3,11000100,"[11000100, 10001001, 00010011, 00100110, 01001...","[47, 185, 392, 196, 98, 49, 188, 94]",47,392
4,11000010,"[11000010, 10000101, 00001011, 00010110, 00101...","[79, 233, 464, 232, 116, 58, 29, 158]",29,464
5,11000001,"[11000001, 10000011, 00000111, 00001110, 00011...","[143, 329, 608, 304, 152, 76, 38, 19]",19,608
6,10110000,"[10110000, 01100001, 11000010, 10000101, 00001...","[29, 158, 79, 233, 464, 232, 116, 58]",29,464
7,10101000,"[10101000, 01010001, 10100010, 01000101, 10001...","[37, 170, 85, 242, 121, 296, 148, 74]",37,296
8,10100100,"[10100100, 01001001, 10010010, 00100101, 01001...","[53, 194, 97, 260, 130, 65, 212, 106]",53,260
9,10100010,"[10100010, 01000101, 10001010, 00010101, 00101...","[85, 242, 121, 296, 148, 74, 37, 170]",37,296