In [15]:
#all imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sympy import sieve

In [16]:
def mobius(n: int):
    return list(sieve.mobiusrange(n, n+1))[0]

#n must be divisible by 4
def search_t(d_max: int, n: int):
    t=0
    for d in range(1, d_max):
        mu = mobius(d)
        sum = 0
        limit = 3*n//(4*d)
        for j in range(1, limit+1):
            sum += min(n//(4*d), j//3)
        t += mu*sum
    return t

arr = []
for i in range(2, 22):
    arr.append([i*4, search_t(100, i*4)])

df = pd.DataFrame(arr, columns=['n', 't'])
df.head(20)

     n    t
0    8    4
1   12    9
2   16   15
3   20   24
4   24   34
5   28   46
6   32   60
7   36   77
8   40   92
9   44  114
10  48  132
11  52  158
12  56  181
13  60  209
14  64  237
15  68  268
16  72  299
17  76  333
18  80  368
19  84  410