In [2]:
#all imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sympy import sieve
from fractions import Fraction

In [21]:
def mobius(n: int):
    return list(sieve.mobiusrange(n, n+1))[0]

#n must be divisible by 4
def search_t(d_max: int, n: int):
    t=0
    for d in range(1, d_max+1):
        mu = mobius(d)
        j_sum = 0
        limit = 3*n//(4*d)
        for j in range(1, limit+1):
            j_sum += min(n//(4*d), j//3)
        t += mu*j_sum
    return t

#n must be divisible by 4
def search_t2(d_max: int, n: int):
    t=0
    m=n//4
    for d in range(1, d_max+1):
        mu = mobius(d)
        j_sum = 0
        limit = (n-m)//d
        for j in range(1, limit+1):
            j_sum += int(min(m/d, j/3))
        t += mu*j_sum
    return t

arr = []
for i in range(2, 22):
    arr.append([i*4, search_t2(1, i*4)])

df = pd.DataFrame(arr, columns=['n', 't'])
df.head(20)

     n    t
0    8    5
1   12   12
2   16   22
3   20   35
4   24   51
5   28   70
6   32   92
7   36  117
8   40  145
9   44  176
10  48  210
11  52  247
12  56  287
13  60  330
14  64  376
15  68  425
16  72  477
17  76  532
18  80  590
19  84  651

In [17]:
class Fr(Fraction):
    def __repr__(self):
        return '(%s/%s)' % (self.numerator, self.denominator)

def farey(n, length=False):
    if not length:
        return [Fr(0, 1)] + sorted({Fr(m, k) for k in range(1, n+1) for m in range(1, k+1)})
    else:
        return (n*(n+3))//2 - sum(farey(n//k, True) for k in range(2, n+1))

def farey_n_m(n, m):
    f_n = farey(n)
    res = []
    for f_n_member in f_n:
        h = f_n_member.numerator
        k = f_n_member.denominator
        if m+k-n <= h and h <= m:
            res.append(f_n_member)
    return res

print('F(B(12),3):')
print(farey_n_m(12,3))
print('F(B(12),6):')
print(farey_n_m(12,6))

#print('Farey sequence for order 7')
#print(farey(7))

#print('Number of fractions in the Farey sequence for order 100 through 1,000 (inclusive) by hundreds:')
#print([farey(i, length=True) for i in range(100, 1001, 100)])

F(B(12),3):
[(0/1), (1/10), (1/9), (1/8), (1/7), (1/6), (2/11), (1/5), (2/9), (1/4), (3/11), (2/7), (3/10), (1/3), (3/8), (2/5), (3/7), (1/2), (3/5), (2/3), (3/4), (1/1)]
F(B(12),6):
[(0/1), (1/7), (1/6), (1/5), (1/4), (2/7), (1/3), (3/8), (2/5), (3/7), (4/9), (5/11), (1/2), (6/11), (5/9), (4/7), (3/5), (5/8), (2/3), (5/7), (3/4), (4/5), (5/6), (6/7), (1/1)]