In [1]:
#all imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sympy import sieve

In [21]:
def mobius(n: int):
    return list(sieve.mobiusrange(n, n+1))[0]

#n must be divisible by 4
def search_t(d_max: int, n: int):
    t=0
    for d in range(1, d_max+1):
        mu = mobius(d)
        j_sum = 0
        limit = 3*n//(4*d)
        for j in range(1, limit+1):
            j_sum += min(n//(4*d), j//3)
        t += mu*j_sum
    return t

#n must be divisible by 4
def search_t2(d_max: int, n: int):
    t=0
    m=n//4
    for d in range(1, d_max+1):
        mu = mobius(d)
        j_sum = 0
        limit = (n-m)//d
        for j in range(1, limit+1):
            j_sum += int(min(m/d, j/3))
        t += mu*j_sum
    return t

arr = []
for i in range(2, 22):
    arr.append([i*4, search_t2(1, i*4)])

df = pd.DataFrame(arr, columns=['n', 't'])
df.head(20)

     n    t
0    8    5
1   12   12
2   16   22
3   20   35
4   24   51
5   28   70
6   32   92
7   36  117
8   40  145
9   44  176
10  48  210
11  52  247
12  56  287
13  60  330
14  64  376
15  68  425
16  72  477
17  76  532
18  80  590
19  84  651